/*
 * Kaluza brand colours
 */

$light-grey: #f1f6f8;
$steel-grey:  #8fa1bd;
$aqua: #58d5f8;
$dawn: #1c597b;
$dusk: #112d4d;
$night: #061b32;
$emerald: #4fd061;
$lemon: #ffea4f;
$tangerine: #fb842c;

/*
 * Bootstrap theme variables
 */

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $light-grey;
$color__link-visited: $light-grey;
$color__link-hover: $aqua;
$color__text-main: $light-grey;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/*
 * Kaluza element colours
 */

 $color__hamburger: $light-grey;
 $color__hamburger--active: $aqua;
 $color__hamburger-fixed: $night;
 $color__hamburger--active-fixed: $light-grey;