$size__site-main: 100%;
$size__site-sidebar: 25%;
$all-columns: 1300px;
$gutter: 20px;
$gutter-double: $gutter * 2;
$gutter-triple: $gutter * 3;
$gutter-quad: $gutter * 4;
$col-count: 12;
$gutter-count: $col-count - 1;
$total-gutter:  $gutter * $gutter-count;
$col: $all-columns / $col-count;
$max-width: $all-columns + $total-gutter;
$col-gutt-1: $col + $gutter;
$col-gutt-2: $col-gutt-1 * 2;
$col-gutt-3: $col-gutt-1 * 3;
$col-gutt-4: $col-gutt-1 * 4;
$col-gutt-5: $col-gutt-1 * 5;
$col-gutt-6: $col-gutt-1 * 6;
$col-gutt-7: $col-gutt-1 * 7;
$col-gutt-8: $col-gutt-1 * 8;
$col-gutt-9: $col-gutt-1 * 9;
$col-gutt-10: $col-gutt-1 * 10;
$col-gutt-11: $col-gutt-1 * 11;
$col-gutt-12: $col-gutt-1 * 12;
$size__header-height: 150px;
$size__header-height--small: 120px;
$size__header-height--smallest: 80px;
$size__header-height--smallest-fixed: 65px;
$bar-width: 60px;
$bar-width-small: 40px;
$bar-width-smallest: 25px;

$box-shadow: 0px 0px 100px rgba(6,27,50,.5);

$breakpoint-laptop: 1336px;
$breakpoint-notebook: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

$hamburger-width: 40px;