.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				color: $aqua;
				text-decoration: none;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

#masthead {
	position: fixed;
	top: 0;
	right: 0;
	left: $bar-width;
	z-index: 2;
	.container {
		height: $size__header-height;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: $breakpoint-laptop) {
			height: $size__header-height--small;
		}
		@media screen and (max-width: $breakpoint-notebook) {
			height: $size__header-height--smallest;			
			position: relative !important;
			padding-right: $bar-width-smallest;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			height: $size__header-height--smallest - 5;
		}
		@media screen and (max-width: $breakpoint-phone) {
			height: $size__header-height--smallest - 10;
		}
		.site-branding {
			min-width: 100px;
			position: relative;
			z-index: 2;
			.kaluza__logo {
				display: block;
				height: ( $size__header-height / 2 );
				width: auto;
				&-anchor--light {
					opacity: 1;
				}
				&-anchor--dark {
					opacity: 0;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
				}
				@media screen and (max-width: 1700px) {
					height: 75px;
				}
				@media screen and (max-width: 1500px) {
					height: 60px;
				}
				@media screen and (max-width: 1240px) {
					height: 50px;
				}
				@media screen and (max-width: $breakpoint-notebook) {
					height: 45px;
				}
				@media screen and (max-width: $breakpoint-phone) {
					height: 40px;
				}
			}
		}
		#site-navigation {
			@media screen and (max-width: $breakpoint-notebook) {
				/* Mobile menu */
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}
			.menu-primary-container {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				padding-left: ( $size__header-height * 0.6 );
				@media screen and (max-width: 1700px) {
					padding-left: $gutter-triple;
				}
				@media screen and (max-width: 1500px) {
					padding-left: $gutter-double;
					padding-right: 0;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					padding-left: $bar-width-smallest;
				}
				&.mobile-menu--revealed {
					visibility: visible;
					opacity: 1;
					transform: translate(0, 0);
				}
				@media screen and (max-width: $breakpoint-notebook) {
					/* Mobile menu */
					display: flex;
					justify-content: center;
					align-items: stretch;
					position: fixed;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					visibility: hidden;
					opacity: 0;
					transform: translate(100%, 0);
					transition: all .15s ease-in-out;
				}
				ul#primary-menu {
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: center;
					@media screen and (max-width: $breakpoint-notebook) {
						/* Mobile menu */
						display: flex;
						flex-direction: column;
						justify-content: center;
						background-color: $night;
					}
					li {
						margin-left: $bar-width-small;
						&:first-of-type {
							margin-left: 0;
						}
						@media screen and (max-width: $breakpoint-notebook) {
							margin-left: 0;
						}
						a {
							text-transform: uppercase;
							letter-spacing: 2px;
							color: $light-grey;
							&:hover,
							&:focus,
							&:active {
								color: $aqua;
							}
							@media screen and (max-width: 1700px) {
								font-size: 14px;
								line-height: 1.2;
							}
							@media screen and (max-width: $breakpoint-notebook) {
								padding: 1.2em 2em;
								display: flex;
								justify-content: center;
								align-items: center;
							}
							@media screen and (max-width: $breakpoint-phone) {
								font-size: 14px;
							}

						}		
					}
				}

			}
		}
		button.hamburger--emphatic {
			display: none;
			position: relative;
			z-index: 1;
			transition: all .15s ease-in-out;
			&:hover,
			&:focus {
				outline: none;
				box-shadow: $box-shadow;
				opacity: 1;
			}
			.hamburger-inner, 
			.hamburger-inner::before, 
			.hamburger-inner::after {
				background-color: $color__hamburger;
				width: $hamburger-width;
				height: $hamburger-width / 10;
				&:hover {
					background-color: $color__hamburger--active;
				}
			}
			&.is-active {
				.hamburger-inner, 
				.hamburger-inner::before, 
				.hamburger-inner::after {
					background-color: $color__hamburger--active;
				}	
			}
			@media screen and (max-width: $breakpoint-notebook) {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}		
	}
	&.masthead--fixed {
		box-shadow: $box-shadow;
		background-color: $light-grey;
		.container {
			height: $size__header-height--smallest-fixed;
			@media screen and (max-width: $breakpoint-tablet) {
				height: $size__header-height--smallest-fixed - 5;
			}
			@media screen and (max-width: $breakpoint-phone) {
				height: $size__header-height--smallest-fixed - 10;
			}
			.site-branding {
				.kaluza__logo {
					&-anchor--light {
						opacity: 0;
					}
					&-anchor--dark {
						opacity: 1;
					}
					height: 40px;
					@media screen and (max-width: $breakpoint-tablet) {
						height: 35px;
					}
					@media screen and (max-width: $breakpoint-phone) {
						height: 28px;
					}
				}
			}
			#site-navigation {
				.menu-primary-container {
					@media screen and (max-width: $breakpoint-notebook) {
						top: $size__header-height--smallest-fixed;
					}
					@media screen and (max-width: $breakpoint-tablet) {
						top: $size__header-height--smallest-fixed - 5;
					}
					@media screen and (max-width: $breakpoint-phone) {
						top: $size__header-height--smallest-fixed - 10;
					}
					ul#primary-menu {
						li {
							a {
								font-size: 14px;
								letter-spacing: 2px;
								color: $night;
								&:hover,
								&:focus,
								&:active {
									color: $aqua;
								}
								@media screen and (max-width: $breakpoint-laptop) {
									font-size: 12px;
									letter-spacing: 1.5px;
								}
								@media screen and (max-width: $breakpoint-notebook) {
									color: $light-grey;
								}
							}		
						}
					}
					&.mobile-menu--revealed {
						ul#primary-menu {
							li {
								a {
									font-size: 14px;
									letter-spacing: 2px;
								}
							}
						}
					}
				}

			}
			button.hamburger--emphatic {
				transform-origin: right;
				transform: scale(0.75);
				@include bg-opacity( $dusk, 1 );
				@media screen and (max-width: $breakpoint-tablet) {
					transform: scale(0.67);
				}				
				@media screen and (max-width: $breakpoint-phone) {
					transform: scale(0.6);
				}
				// .hamburger-inner, 
				// .hamburger-inner::before, 
				// .hamburger-inner::after {
				// 	background-color: $color__hamburger-fixed;
				// 	&:hover {
				// 		background-color: $color__hamburger--active-fixed;
				// 	}
				// }
				&.is-active .hamburger-inner, 
				&.is-active .hamburger-inner::before, 
				&.is-active .hamburger-inner::after {
					background-color: $color__hamburger--active-fixed;
				}
			}
		}
	}
}