h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1.3;
	letter-spacing: 8px;
	text-transform: uppercase;
}

h1 {
	font-size: 3.6vh;
}

h2 {
	font-size: 3.2vh;
}

h3 {
	font-size: 2.8vh;
}

h4 {
	font-size: 2.4vh;
}

h5 {
	font-size: 2vh;
}

h6 {
	font-size: 1.8vh;
}
