body,
button,
input,
select,
optgroup,
textarea {
	color: $night;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
