.kaluza-intro.kaluza__section {
	position: relative;
	background-color: $night;
	color: $light-grey;
	.kaluza__bg {
		position: absolute;
		width: 66%;
		right: -8%;
		left: auto;
		top: -6%;
	}
	.kaluza-intro__subtitle {
		font-size: 2.5vh;
		width: 100%;
		max-width: 1000px;
		letter-spacing: 8px;
		margin-bottom: 3em;
		@media screen and (max-width: $breakpoint-laptop) {
			font-size: 2.3vh;
		}
		@media screen and (max-width: $breakpoint-notebook) {
			font-size: 2.2vh;
			letter-spacing: 7px;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 2.1vh;
			letter-spacing: 6px;
		}
		@media screen and (max-width: $breakpoint-phone) {
			font-size: 2vh;
			letter-spacing: 5px;
		}
	}
	.kaluza-intro__title {
		font-size: 5vh;
		width: 100%;
		max-width: 1000px;
		letter-spacing: 15px;
		line-height: 1.3;
		@media screen and (max-width: $breakpoint-laptop) {
			font-size: 4vh;
			letter-spacing: 14px;
		}
		@media screen and (max-width: $breakpoint-notebook) {
			font-size: 3.5vh;
			letter-spacing: 12px;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			font-size: 3.3vh;
			letter-spacing: 10px;
		}
		@media screen and (max-width: $breakpoint-phone) {
			font-size: 3vh;
			letter-spacing: 8px;
		}
	}
	.parallax {
		background-position: bottom 80% left 460px;
		background-repeat: no-repeat;
		background-size: 110% 130%;
		width: 100%;
		height: 100%;
		@media screen and (max-width: $breakpoint-tablet) {
			background-position: bottom 80% left 300px;
		}
		@media screen and (max-width: $breakpoint-phone) {
			background-position: bottom 80% left 200px;
			background-size: 200% 130%;
			height: 100% !important;
		}
	}
}

@media screen and (max-width: 1500px) {
	.kaluza-intro.kaluza__section {
		.kaluza-intro__title {
			width: 67%;
		}
	}
}

.kaluza-vista.kaluza__section {
	justify-content: flex-end;
	background-color: $light-grey;
	@media screen and (max-width: $breakpoint-notebook) {
		height: auto;
		padding-top: 33.33vh;
	}
	.parallax__container {
		@media screen and (max-width: $breakpoint-notebook) {
			position: absolute !important;
		}
	}
	.kaluza-vista__caption {
		width: 100%;
		background-color: $light-grey;
		padding-bottom: 5vh;
		position: absolute;
		bottom: 0;
		z-index: 1;
		@media screen and (max-width: $breakpoint-notebook) {
			position: relative;
			padding-bottom: $gutter-double;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			padding-bottom: $gutter;
		}
		.container {
			justify-content: flex-end;
			padding: $gutter-triple 0;
			position: relative;
			@media screen and (max-width: $breakpoint-laptop) {
				padding: $gutter-double 0;
			}
			@media screen and (max-width: $breakpoint-notebook) {
				padding: 0;
			}
			h1 {
				color: $night;
				margin-left: $col-gutt-4;
				left: $col;
				margin-right: $col;
				padding: 0 $gutter-triple;
				position: relative;
				font-size: 1.8vw;
				@media screen and (max-width: $breakpoint-laptop) {
					left: $gutter-double;
					padding: 0 $gutter-double;
				}
				@media screen and (max-width: $breakpoint-notebook) {
					margin-left: 0;
					margin-right: $gutter-double;
					padding-left: 0;
					margin-bottom: $gutter-double;
					margin-top: $gutter-double;
					font-size: 25px;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					margin-left: $bar-width-smallest;
					left: 0;
					font-size: 22px;
				}
				@media screen and (max-width: $breakpoint-phone) {
					font-size: 20px;
				}
			}
			.kaluza__bar {
				position: absolute;
				width: 67%;
				height: 6px;
				top: 0;
			}
		}
		.kaluza-card {
			position: absolute;
			left: $col;
			bottom: calc( 5.5vh + 120px );
			width: $col-gutt-4;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			@media screen and (max-width: $breakpoint-laptop) {
				left: $gutter-double;
			}
			@media screen and (max-width: $breakpoint-notebook) {
				position: relative;
				margin-top: -93px;
				transform: none !important;
				bottom: 0;
				width: calc( 100vw - 120px );
			}
			@media screen and (max-width: $breakpoint-tablet) {
				left: $bar-width-smallest;
				width: calc( 100% - 50px );
				margin-top: -62px;
			}
			.kaluza-card__title {
				padding: 8vh $gutter-double 5.5vh;
				background-color: $light-grey;
				color: $night;
				width: 100%;
				font-size: 1.8vw;
				@media screen and (max-width: $breakpoint-notebook) {
					font-size: 22px;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					padding: ( $bar-width-smallest * 2 ) $bar-width-smallest;
				}
			}
			.kaluza-card__copy {
				width: 100%;
				padding: $gutter-triple $gutter-double;
				background-color: $night;
				color: $light-grey;
				font-size: 1.5vh;
				@media screen and (max-width: $breakpoint-laptop) {
					font-size: 1.8vh;
				}
				@media screen and (max-width: $breakpoint-notebook) {
					font-size: 16px;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					padding: ( $bar-width-smallest * 2 ) $bar-width-smallest;
				}
				@media screen and (max-width: $breakpoint-phone) {
					font-size: 14px;
				}
			}
		}
	}

}

.kaluza-screen.kaluza__section {
	@media screen and (max-width: $breakpoint-tablet) {
		height: auto;
	}
	.kaluza__bg {
		position: absolute;
	}
	.container {
		@media screen and (max-width: $breakpoint-notebook) {
			padding: 0;
			@include bg-opacity($dusk, 0.8);
		}
		@media screen and (max-width: $breakpoint-tablet) {
			position: relative;
		}
		.kaluza__overlay {
			background-color: transparent;
			max-width: $col-gutt-8;
			width: 100%;;
			position: absolute;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: $col $gutter-triple;
			@media screen and (max-width: $breakpoint-notebook) {
				position: relative;
				padding: $bar-width $bar-width-small;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				padding: $bar-width-small $bar-width-smallest;
			}
			&::before {
				position: absolute;
				content: '';
				right: 0;
				width: 100vw;
				height: 100vh;
				z-index: -1;
				@include bg-opacity($dusk, 0.8);
				@media screen and (max-width: $breakpoint-notebook) {
					display:none
				}
			}
			.kaluza-screen__title {
				color: $light-grey;
				margin-bottom: 8vh;
				@media screen and (max-width: $breakpoint-tablet) {
					font-size: 3.6vh;
				}
			}
			.kaluza-screen__subtitle {
				color: $steel-grey;
				margin-bottom: 6vh;
				@media screen and (max-width: $breakpoint-tablet) {
					font-size: 3.2vh;
					letter-spacing: 0.6vh;
				}
			}
			.kaluza__bar {
				width: 50%;
				margin-bottom: $gutter-triple;
			}
			.kaluza-screen__copy {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				width: 67%;
				@media screen and (max-width: $breakpoint-tablet) {
					width: 100%;
				}
				p {
					width: calc(50% - 1.5em);
					color: $light-grey;
					margin-top: 0;
					margin-right: 1.5em;
					@media screen and (max-width: $breakpoint-tablet) {
						width: 100%;
					}	
				}
			}
		}
	}

}

.kaluza-awards.kaluza__section {
	background-color: $dawn;
	@media screen and (max-width: $breakpoint-notebook) {
		height: auto;
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: stretch;
		height: 75%;
		@media screen and (max-width: $breakpoint-notebook) {
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: auto;
		}
		.kaluza-awards__text {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			@media screen and (max-width: $breakpoint-notebook) {
				margin-top: $bar-width;
				margin-bottom: $bar-width-small;
			}
			.kaluza-awards__title {
				color: $light-grey;
				margin-bottom: 8vh;
			}
			.kaluza-awards__copy {
				width: 67%;
				color: $light-grey;
				font-size: 1.8vh;
				@media screen and (max-width: $breakpoint-laptop) {
					width: 100%;
				}
			}
		}
		.kaluza-awards__awards {
			flex: 2;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			@media screen and (max-width: $breakpoint-notebook) {
				justify-content: space-between;
				padding-bottom: $bar-width-small;
				flex-wrap: nowrap;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				flex-wrap: wrap;
			}
			.home-award__award {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-wrap: nowrap;
				height: 50%;
				width: 50%;
				@media screen and (max-width: $breakpoint-notebook) {
					height: auto;
					flex: 1;
					margin-right: $bar-width-small;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					flex-wrap: wrap;
					flex: none;
					width: calc( 50% - 20px );
					margin-right: $bar-width-small;
					padding-bottom: $bar-width-small;
				}
				@media screen and (max-width: $breakpoint-phone) {
					margin-right: 0;
					width: 100%;
				}
				&:nth-child(2n+0) {
					@media screen and (max-width: $breakpoint-tablet) {
						margin-right: 0;
					}
				}
				&:last-of-type {
					@media screen and (max-width: $breakpoint-notebook) {
						margin-right: 0;
					}
				}
				img {
					box-shadow: 0px 0px 100px rgba(0,0,0, 0.5);
					height: 45%;
					@media screen and (max-width: $breakpoint-notebook) {
						height: auto;
						max-width: 67%;
					}
				}
				.home-award__title {
					color: $aqua;
					font-size: 1.8vh;
					letter-spacing: 3px;
					width: 45%;
					margin-top: 1.5em;
					margin-bottom: 1.5em;
					@media screen and (max-width: $breakpoint-notebook) {
						width: 100%;
					}
					@media screen and (max-width: $breakpoint-phone) {
						font-size: 4vw;
						letter-spacing: 1vw;
					}
				}
				.home-award__subtitle {
					color: $light-grey;
					font-size: 1.5vh;
					text-transform: none;
					letter-spacing: 0;
					width: 45%;
					@media screen and (max-width: $breakpoint-notebook) {
						width: 100%;
					}
					@media screen and (max-width: $breakpoint-phone) {
						font-size: 3.8vw;
					}

				}
			}
		}	
	}
}

.home-leaders.kaluza__section {
	background-color: $light-grey;
	@media screen and (max-width: $breakpoint-notebook) {
		height: auto;
	}
	.container {
		flex-direction: row;
		position: relative;
		@media screen and (max-width: $breakpoint-notebook) {
			flex-direction: column-reverse;
			padding-bottom: 0;
		}
		.home-leaders__leaders {
			height: 100%;
			width: 75%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: space-evenly;;
			padding-right: $bar-width / 2;
			height: 100%;
			@media screen and (max-width: $breakpoint-notebook) {
				flex: auto;
				width: 100%;
				height: auto;
				padding-right: 0;
				padding-bottom: $bar-width;
			}
			.home-leaders__leader {
				width: calc( ( 100% / 4 ) - ( ( 20px * 3 ) / 4 ) );
				margin-right: $gutter;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				text-align: center;
				cursor: pointer;
				@media screen and (max-width: $breakpoint-notebook) {
					margin-bottom: $bar-width-small;
				}
				@media screen and (max-width: $breakpoint-tablet) {
					width: calc( ( 100% / 2 ) - ( ( 20px * 1 ) / 2 ) );
				}
				@media screen and (max-width: $breakpoint-phone) {
					width: 100%;
					margin-right: 0;
				}
				&:nth-child(4n+4) {
					margin-right: 0;
					@media screen and (max-width: $breakpoint-tablet) {
						margin-right: $gutter;
					}
				}
				&:nth-child(2n+2) {
					@media screen and (max-width: $breakpoint-tablet) {
						margin-right: 0;
					}
				}
				&:hover {
					color: $steel-grey;
				}
				& > img {
					@media screen and (max-height: 900px) {
						width: 80%;
					}
					@media screen and (max-width: $breakpoint-tablet) {
						max-width: 67%;
					}
				}
				.home-leaders__full-name {
					font-size: 0.78vw;
					letter-spacing: 0.12vw;
					margin-top: 1.75em;
					margin-bottom: 0.5em;
					@media screen and (max-width: $breakpoint-notebook) {
						font-size: 1.6vw;
					}					
					@media screen and (max-width: $breakpoint-tablet) {
						font-size: 2vw;
					}					
					@media screen and (max-width: $breakpoint-phone) {
						font-size: 4.5vw;
					}
				}
				.home-leaders__job-title {
					font-size: 1.15vh;
					font-weight: 400;
					letter-spacing: 3px;
					@media screen and (max-width: $breakpoint-notebook) {
						font-size: 1.3vw;
					}
					@media screen and (max-width: $breakpoint-tablet) {
						font-size: 1.6vw;
					}
					@media screen and (max-width: $breakpoint-phone) {
						font-size: 3.2vw;
					}
				}
				.kaluza__modal {
					color: $night;
				}
				.home-leaders__modal-image {
					width: 50%;
					display: flex;
					justify-content: flex-start;
				}
				.home-leaders__modal-image--card {
					max-height: 500px;
					@media screen and (max-width: $breakpoint-laptop) {
						display: none;
					}
				}
				.home-leaders__modal-image--button {
					display: none;
					width: 75%;
					max-width: 300px;
					margin-top: 40px;
					@media screen and (max-width: $breakpoint-laptop) {
						display: flex;
						width: auto;
						max-height: 30vh;
					}
				}
				.home-leaders__modal-text {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: flex-start;
					align-self: stretch;
					text-align: left;
					width: 50%;
					color: $night;
					padding: $gutter-triple $gutter-triple $gutter-triple 0;
					.home-leaders__job-title {
						margin: 1.5em 0;
					}
					.home-leaders__full-name {
						margin: 0;
					}
					.home-leaders__description {
						overflow-y: scroll;
						align-self: stretch;
						max-height: 250px;
					}
				}
				.kaluza__modal-inner {
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
	}
	.home-leaders__text {
		height: 100%;
		width: 25%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex: 1;
		color: $night;
		padding-left: $bar-width / 2;
		@media screen and (max-width: $breakpoint-notebook) {
			flex: auto;
			width: 100%;
			height: auto;
			padding-left: 0;
			padding-top: $bar-width;
		}
		.home-leaders__title {
			font-size: 2vw;
			margin-bottom: 1em;
			letter-spacing: 0.8vw;
			@media screen and (max-width: $breakpoint-notebook) {
				margin-bottom: $bar-width-small;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				font-size: 5vw;
			}
			@media screen and (max-width: $breakpoint-phone) {
				font-size: 7.5vw;
			}
		}
		.home-leaders__copy {
			font-size: 2.2vh;
		}
	}
}
@media screen and (max-width: $breakpoint-laptop ) {
	.home-leaders.kaluza__section .home-leaders__leaders .home-leaders__leader .kaluza__modal-inner {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.home-leaders__modal-text {
			padding: $gutter-double;
			width: 100%;
			max-height: 100%;
			.home-leaders__description {
				max-height: 100%;
			}
		}
	}
}

@media screen and (max-height: 860px ) {
	.home-leaders.kaluza__section .container {
		align-items: center;
	}
}

.kaluza-sheet.kaluza__section--fullscreen {
	@media screen and (max-width: $breakpoint-notebook) {
		height: auto;
	}
	.container {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		margin: $col auto;
		box-shadow: $box-shadow;
		height: auto;
		position: static;
		z-index: auto;
		@media screen and (max-width: 1760px) {
			margin-left: $bar-width;
			margin-right: $bar-width;
			left: 0;
			width: calc( 100% - 120px );
		}
		@media screen and (max-width: 1640px) {
			padding: 0;
		}
		@media screen and (max-width: $breakpoint-laptop) {
			margin: $bar-width $bar-width-small;
			width: calc( 100% - 80px );
		}
		@media screen and (max-width: $breakpoint-notebook) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
		}
		@media screen and (max-width: $breakpoint-tablet) {
			margin: $bar-width-small $bar-width-smallest;
			width: calc( 100% - 50px );
		}
		.kaluza-sheet__text {
			width: 67%;
			background-color: $night;
			color: $light-grey;
			padding: $col-gutt-1 $col-gutt-2 $col-gutt-1 $col-gutt-1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			position: relative;
			.kaluza-sheet__title {
				margin: 0 0 10vh 0;
				@media screen and (max-width: $breakpoint-notebook) {
					width: 67%;
					font-size: 3vw;
					margin-bottom: 1.5em;
				}
				@media screen and (max-width: $breakpoint-phone) {
					font-size: 22px;
				}
			}
			.kaluza-sheet__copy {
				margin: 0;
				width: 80%;
				max-width: $col-gutt-4;
				color: $steel-grey;
				font-size: 1.2vw;
				@media screen and (max-width: $breakpoint-notebook) {
					width: 100%;
					max-width: 100%;
					font-size: 16px;
				}
			}
			@media screen and (max-width: $breakpoint-laptop) {
				padding: ( $bar-width * 2 ) $bar-width;
			}
			@media screen and (max-width: $breakpoint-notebook) {
				width: 100%;
				padding: $bar-width $bar-width-small;
			}
			@media screen and (max-width: $breakpoint-tablet) {
				
			}
			@media screen and (max-width: $breakpoint-phone) {
				
			}
		}
		.kaluza-sheet__images {
			width: 33%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			@media screen and (max-width: $breakpoint-notebook) {
				width: 100%;
				justify-content: flex-end;
				padding-right: $bar-width-small;
			}
			.kaluza-sheet__foreground-image {
				transform: translateX(-50%);
				max-width: 300px;
				@media screen and (max-width: $breakpoint-laptop) {
					max-width: 18vw;
				}
				@media screen and (max-width: $breakpoint-notebook) {
					transform: translateX(0) translateY(50%);
				}
				@media screen and (max-width: $breakpoint-tablet) {
					max-width: 23vw;
				}
			}
		}
		.kaluza__bar {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 33%;
			transform: translateY(100%);
		}
	}
}

.home.page {
	.kaluza-sheet.kaluza__section {
		background-color: $steel-grey;
		.container {
			@media screen and (max-width: $breakpoint-notebook) {
				flex-direction: column-reverse;
			}	
		}
	}
}

.home-contact-us.kaluza__section {
	.container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		color: $light-grey;
		z-index: auto;
		.home-contact-us__title {
			font-size: 6vh;
			margin-bottom: 1.5em;
			@media screen and (max-width: $breakpoint-tablet) {
				font-size: 7.5vw
			}
		}
		.home-contact-us__copy {
			width: 100%;
			max-width: $col-gutt-4;
			font-size: 2.2vh;
			@media screen and (max-width: $breakpoint-notebook) {
				font-size: 16px;
			}
		}
	}
	.kaluza__bg {
		position: absolute;
	}
}

@import "general";
