.kaluza-no-scroll {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: $max-width;
    margin: 0 auto;
	z-index: 1;
	padding: 0;
}

@media only screen and (max-width: $max-width + ( $bar-width * 2 ) ) {
	.container {
		padding-left: $gutter-triple;
		padding-right: $gutter-triple;
	} 
}

#primary {
    padding-left: $bar-width;
}

.kaluza__section {
	height: 100%;
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	overflow: hidden;
	.container {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 1;
	}
	.kaluza__overlay {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(6,27,50,.8);
	}
	&--fullscreen {
		height: 100vh;
		width: 100%;
		.container {
			position: absolute;
		}
	}
}

.pv-block {
    width: 100%;
}

.kaluza__bar {
	width: 100%;
	height: 6px;
	display: block;
	position: relative;
	&--aqua {
		background-color: $aqua;
	}
	&--lemon {
		background-color: $lemon;
	}
	&--tangerine {
		background-color: $tangerine;
	}	
	&--emerald {
		background-color: $emerald;
	}
}

.kaluza-card {
	box-shadow: $box-shadow;
}

.kaluza__modal {
	display: none;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 1;
	@include bg-opacity( $light-grey, 0.7 );
	&.kaluza__modal--revealed {
		visibility: visible;
		opacity: 1;	
	}
}

.kaluza__modal-inner {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	cursor: default;
	box-shadow: $box-shadow;
	background-color: $light-grey;
	width: 90%;
	max-width: $max-width;
	max-height: calc( 100% - 50px );
	@media screen and (max-width: $breakpoint-tablet) {
		width: calc( 100% - 50px );
		max-height: calc( 100% - 50px - 60px );
		margin-top: $size__header-height--smallest-fixed - 5;
	}
	@media screen and (max-width: $breakpoint-phone) {
		max-height: calc( 100% - 50px - 55px );
		margin-top: $size__header-height--smallest-fixed - 10;
	}
	.kaluza__modal-close {
		position: absolute;
		top: $gutter;
		right: $gutter;
		cursor: pointer;
		&:hover {
			transform: rotate(360deg);
		}
	}
}

a,
button,
.button,
input,
select,
textarea,
.menu-primary-container,
.animated {
	transition: all .2s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98);
}

.fade-in {
	opacity: 0;
	&:nth-child(2n+0) {
		transition: all 1s .05s cubic-bezier(.02,.76,0,.98);
	}
	&:nth-child(3n+0) {
		transition: all 1s .1s cubic-bezier(.02,.76,0,.98);
	}
	&:nth-child(4n+0) {
		transition: all 1s 1.5s cubic-bezier(.02,.76,0,.98);
	}
	&:nth-child(5n+0) {
		transition: all 1s 2s cubic-bezier(.02,.76,0,.98);
	}
	&:nth-child(6n+0) {
		transition: all 1s 2.5s cubic-bezier(.02,.76,0,.98);
	}
}

.revealed {
	opacity: 1;
}

// /* Universal Parallax CSS */

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;

	/* BG behaviour */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: $breakpoint-laptop) {
	#primary {
		padding-left: $bar-width-small;
	}
	.container {
		padding-left: $bar-width-small;
		padding-right: $bar-width-small;
	}
	#masthead {
		left: $bar-width-small;
		.container {
			padding-left: $bar-width-small;
		}
	}
}

@media screen and (max-width: $breakpoint-notebook) {

}

@media screen and (max-width: $breakpoint-tablet) {
	#primary {
		padding-left: $bar-width-smallest;
	}
	.kaluza__section {
		.container {
			padding-left: $bar-width-smallest;
			padding-right: $bar-width-smallest;
			position: relative;
		}
	}
	#masthead {
		left: $bar-width-smallest;
		.container {
			padding-left: $bar-width-smallest;
		}
	}
	.parallax__container {
		position: absolute !important;
		.parallax {
			height: 133vh;
		}
	}
}

.kaluza-hidden {
	transition: all .6s ease-in-out, transform 1s cubic-bezier(.02,.76,0,.98), max-width 1.5s ease-in-out;
	opacity: 0;
	&.kaluza-hidden--delayed {
		transition: all .3s .6s ease-in-out, transform .5s 1s cubic-bezier(.02,.76,0,.98), opacity .5s 1s ease-in-out, max-width .75s 1.5s ease-in-out;
	}
	&.kaluza-hidden--up {
		transform: translate(0,50%);
		&.kaluza-sheet__foreground-image {
			transform: translate(-50%,50%) !important;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(0,100%) !important;
			}
		}
		&.kaluza-solution__images {
			transform: none;
			opacity: 1;
            &--topLeft {
				background-size: 250% !important;
                background-position: top -100% left !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top -100% left !important;
                }
            }
            &--topCenter {
                background-size: 250% !important;
                background-position: top -100% center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top -100% center !important;
                }            
            }
            &--topRight {
                background-size: 250% !important;
                background-position: top -100% right !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top -100% right !important;
                }
            }
            &--altTopRight {
                background-size: 250% !important;
                background-position: top -100% right 5% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top -100% right !important;
                }
            }
            &--centerCenter {
                background-size: 250% !important;
                background-position: top -100% center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomLeft {
                background-size: 250% !important;
                background-position: top -100% left !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top -100% left !important;
                }
            }
            &--altBottomLeft {
                background-size: 250% !important;
                background-position: top -100% left 38% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top -100% left 33% !important;
                }
            }
            &--bottomCenter {
                background-size: 250% !important;
                background-position: top -100% center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomRight {
                background-size: 250% !important;
                background-position: top -100% right !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
			}
		}
	}
	&.kaluza-hidden--down {
		transform: translate(0,-50%);
		&.kaluza-sheet__foreground-image {
			transform: translate(-50%,-50%) !important;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(0,0) !important;
			}
		}
		&.kaluza-solution__images {
			transform: none;
			opacity: 1;
            &--topLeft {
				background-size: 250% !important;
                background-position: bottom -100% left !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom -100% left !important;
                }
            }
            &--topCenter {
                background-size: 250% !important;
                background-position: bottom -100% center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom -100% center !important;
                }            
            }
            &--topRight {
                background-size: 250% !important;
                background-position: bottom -100% right !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom -100% right !important;
                }
            }
            &--altTopRight {
                background-size: 250% !important;
                background-position: bottom -100% right 5% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom -100% right !important;
                }
            }
            &--centerCenter {
                background-size: 250% !important;
                background-position: bottom -100% center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomLeft {
                background-size: 250% !important;
                background-position: bottom -100% left !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom -100% left !important;
                }
            }
            &--altBottomLeft {
                background-size: 250% !important;
                background-position: bottom -100% left 38% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom -100% left 33% !important;
                }
            }
            &--bottomCenter {
                background-size: 250% !important;
                background-position: bottom -100% center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomRight {
                background-size: 250% !important;
                background-position: bottom -100% right !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
			}
		}
	}
	&.kaluza-hidden--left {
		transform: translate(50%,0);
		&.kaluza-sheet__foreground-image {
			transform: translate(0,0) !important;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(50%,50%) !important;
			}
		}
		&.kaluza-solution__images {
			transform: none;
			opacity: 1;
            &--topLeft {
                background-position: top 15% left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-position: top left -100% !important;
                }
            }
            &--topCenter {
                background-size: 250% !important;
                background-position: top left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top left -100% !important;
                }            
            }
            &--topRight {
                background-size: 250%;
                background-position: top 15% left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: top left -100% !important;
                }
            }
            &--altTopRight {
                background-size: 250% !important;
                background-position: top 5% left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top left -100% !important;
                }
            }
            &--centerCenter {
                background-size: 250% !important;
                background-position: center left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomLeft {
                background-size: 250% !important;
                background-position: bottom 15% left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom left -100% !important;
                }
            }
            &--altBottomLeft {
                background-size: 250% !important;
                background-position: bottom -15% left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom 4% left -100% !important;
                }
            }
            &--bottomCenter {
                background-size: 250% !important;
                background-position: bottom left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomRight {
                background-size: 250% !important;
                background-position: bottom 15% left -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
			}
		}
	}
	&.kaluza-hidden--right {
		transform: translate(-50%,0);
		&.kaluza-sheet__foreground-image {
			transform: translate(-100%,0) !important;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(-50%,50%) !important;
			}
		}
		&.kaluza-solution__images {
			transform: none;
			opacity: 1;
            &--topLeft {
				background-size: 250% !important;
                background-position: top 15% right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top right -100% !important;
                }
            }
            &--topCenter {
                background-size: 250% !important;
                background-position: top right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top right -100% !important;
                }            
            }
            &--topRight {
                background-size: 250% !important;
                background-position: top 15% right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top right -100% !important;
                }
            }
            &--altTopRight {
                background-size: 250% !important;
                background-position: top 5% right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top right -100% !important;
                }
            }
            &--centerCenter {
                background-size: 250% !important;
                background-position: center right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomLeft {
                background-size: 250% !important;
                background-position: bottom 15% right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom right -100% !important;
                }
            }
            &--altBottomLeft {
                background-size: 250% !important;
                background-position: bottom -15% right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom 4% right -100% !important;
                }
            }
            &--bottomCenter {
                background-size: 250% !important;
                background-position: bottom right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomRight {
                background-size: 250% !important;
                background-position: bottom 15% right -100% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
			}
		}
	}
	&.kaluza-hidden--grow {
		transform: scale(0);
		&.kaluza-sheet__foreground-image {
			transform: translate(-50%,0) scale(0) !important;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(0,50%) scale(0) !important;
			}
		}
		&.kaluza-solution__images {
			transform: none;
			opacity: 1;
			background-size: 0 !important;
			background-position: center !important;
		}
	}
	&.kaluza-hidden--shrink {
		transform: scale(1.5);
		&.kaluza-sheet__foreground-image {
			transform: translate(-50%,0) scale(1.5) !important;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(0,50%) scale(1.5) !important;
			}
		}
		&.kaluza-solution__images {
			transform: none;
			opacity: 1;
			background-size: calc(250% * 1.5) !important;
			background-position: center !important;
			@media screen and (max-width: $breakpoint-notebook) {
				background-size: calc(200% * 1.5) !important;
			}
		}
	}
	&.kaluza-hidden--extend {
		max-width: 0;
		opacity: 1;
	}
	&.kaluza-revealed {
		transform: none;
		opacity: 1;
		max-width: $max-width;
		&.kaluza-sheet__foreground-image {
			transform: translate(-50%,0) scale(1) !important;
			max-width: 300px;
			@media screen and (max-width: $breakpoint-notebook) {
				transform: translate(0,50%) scale(1) !important;
			}
		}
		&.kaluza-solution__images {
            &--topLeft {
				background-size: 250% !important;
                background-position: top 15% left !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top left !important;
                }
            }
            &--topCenter {
                background-size: 250% !important;
                background-position: top center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top center !important;
                }            
            }
            &--topRight {
                background-size: 250% !important;
                background-position: top 15% right !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top right !important;
                }
            }
            &--altTopRight {
                background-size: 250% !important;
                background-position: top 5% right 5% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: top right !important;
                }
            }
            &--centerCenter {
                background-size: 250% !important;
                background-position: center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomLeft {
                background-size: 250% !important;
                background-position: bottom 15% left !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom left !important;
                }
            }
            &--altBottomLeft {
                background-size: 250% !important;
                background-position: bottom -15% left 38% !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                    background-position: bottom 4% left 33% !important;
                }
            }
            &--bottomCenter {
                background-size: 250% !important;
                background-position: bottom center !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
            }
            &--bottomRight {
                background-size: 250% !important;
                background-position: bottom 15% right !important;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200% !important;
                }
			}
		}
	}
}

img.kaluza-hidden {
	&.kaluza-revealed {
		max-width: 100%;
	}
}