.kaluza__section.kaluza-solutions {
    flex-direction: column;
    background-color: $steel-grey;
    .container {
        .kaluza-solution {
            width: 100%;
            position: relative;
            margin-top: $col-gutt-1;
            box-shadow: $box-shadow;
            background-color: $light-grey;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            overflow: hidden;
            &--right {
                flex-direction: row-reverse;
            }
            @media screen and (max-width: 1640px) {
                margin-top: $bar-width;
            }
            @media screen and (max-width: $breakpoint-laptop) {
                margin-top: $bar-width-small;
            }
            @media screen and (max-width: $breakpoint-notebook) {
                flex-direction: column-reverse;
            }
        }
        &:last-of-type .kaluza-solution {
            margin-bottom: $col;
            @media screen and (max-width: 1640px) {
                margin-bottom: $bar-width;
            }
            @media screen and (max-width: $breakpoint-laptop) {
                margin-bottom: $bar-width-small;
            }
        }
        .kaluza-solution__text {
            width: 50%;
            padding: $bar-width $bar-width $bar-width $col-gutt-1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @media screen and (max-width: 1640px) {
                padding-left: $bar-width;
            }
            @media screen and (max-width: $breakpoint-laptop) {
                padding: $bar-width $bar-width-small;
            }
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
            }
            @media screen and (max-width: $breakpoint-tablet) {
                padding: $bar-width $bar-width-small;
            }
            .kaluza-solution__title {
                font-size: 3.4vh;
                padding-right: $bar-width-smallest;
                margin-bottom: $bar-width-smallest * 2;
                @media screen and (max-width: $breakpoint-phone) {
                    font-size: 6.4vw;
                    letter-spacing: 1vw;
                }
            }
            .kaluza-solution__subtitle {
                font-size: 2vh;
                letter-spacing: 0.4vh;
                line-height: 1.5;
                color: $dawn;
                margin-bottom: $bar-width-smallest * 2;
                @media screen and (max-width: $breakpoint-phone) {
                    font-size: 4.5vw;
                    letter-spacing: 0.75vw;
                }
            }
            .kaluza-solution__copy {
                font-size: 1.6vh;
                @media screen and (max-width: $breakpoint-phone) {
                    font-size: 4vw;
                }
                li {
                    margin-bottom: 1em;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .kaluza-solution__images {
            width: 50%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: 250%;
            background-position: top left;
            padding: ( $bar-width-smallest * 2 ) 0;
            overflow: visible;
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
                background-position: top left $bar-width-small;
                padding: $bar-width-smallest * 2 0;
            }
            @media screen and (max-width: $breakpoint-tablet) {
                background-position: top left;
            }
            &--topLeft {
                background-size: 250%;
                background-position: top 15% left;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: top left;
                }
            }
            &--topCenter {
                background-size: 250%;
                background-position: top center;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: top center;
                }            
            }
            &--topRight {
                background-size: 250%;
                background-position: top 15% right;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: top right;
                }
            }
            &--altTopRight {
                background-size: 250%;
                background-position: top 5% right 5%;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: top right;
                }
            }
            &--centerCenter {
                background-size: 250%;
                background-position: center;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                }
            }
            &--bottomLeft {
                background-size: 250%;
                background-position: bottom 15% left;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: bottom left;
                }
            }
            &--altBottomLeft {
                background-size: 250%;
                background-position: bottom -15% left 38%;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                    background-position: bottom 4% left 33%;
                }
            }
            &--bottomCenter {
                background-size: 250%;
                background-position: bottom center;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                }
            }
            &--bottomRight {
                background-size: 250%;
                background-position: bottom 15% right;
                @media screen and (max-width: $breakpoint-notebook) {
                    background-size: 200%;
                }
            }
            img {
                @media screen and (max-width: $breakpoint-tablet) {
                    width: auto;
                    max-height: 40vh;
                }
                @media screen and (max-width: $breakpoint-phone) {
                    max-height: 33vh;
                }
            }
        }
        .kaluza__bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc( 100% / 3 );
            transform: translateY(100%);
        }
    }
    &--software {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fa1bd+0,314862+99 */
        background: rgb(143,161,189); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(143,161,189,1) 0%, rgba(49,72,98,1) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(143,161,189,1) 0%,rgba(49,72,98,1) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(143,161,189,1) 0%,rgba(49,72,98,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fa1bd', endColorstr='#314862',GradientType=0 ); /* IE6-9 */
        .container {
            &:first-of-type {
                .kaluza-solution {
                    .kaluza-solution__images {
                        padding: 0;
                        @media screen and (max-width: $breakpoint-tablet) {
                            background-position: bottom right;
                            background-size: 186%;
                        }
                        
                    }
                    .kaluza-solution__text {
                        .kaluza-solution__subtitle {
                            @media screen and (max-width: $breakpoint-phone) {
                                font-size: 3.2vw;
                                letter-spacing: 0.6vw;
                            }
                        }
                    }
                }
            }
        }
    }
    &--hardware {
        .container {
            .kaluza-solution {
                .kaluza-solution__images {
                    align-items: flex-end;
                    padding-bottom: 0;
                }
            }
        }
        .kaluza__section--fullscreen {
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: top center;
            background-color: $steel-grey;
            height: 80vh;
            margin-bottom: -10vh;
            .kaluza-solutions__title {
                color: $light-grey;
                width: 33%;
                min-width: $breakpoint-phone - ( $bar-width-smallest * 3 );
                margin-bottom: 5vh;
                @media screen and (max-width: $breakpoint-notebook) {
                    width: 67%;
                }
                @media screen and (max-width: $breakpoint-phone) {
                    width: 100%;
                    min-width: 0;
                }
            }
            .kaluza-solutions__subtitle {
                width: 50%;
                margin-top: 5vh;
                min-width: $breakpoint-phone - ( $bar-width-smallest * 3 ); 
                @media screen and (max-width: $breakpoint-notebook) {
                    width: 67%;
                }
                @media screen and (max-width: $breakpoint-phone) {
                    width: 100%;
                    min-width: 0;
                }
            }
            .kaluza__bar {
                position: relative;
                transform: none;
            }
            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 20vh;
                left: 0;
                right: 0;
                bottom: 0;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fa1bd+100,8fa1bd+100&0+0,1+100 */
                background: -moz-linear-gradient(top, rgba(143,161,189,0) 0%, rgba(143,161,189,1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(143,161,189,0) 0%,rgba(143,161,189,1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(143,161,189,0) 0%,rgba(143,161,189,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008fa1bd', endColorstr='#8fa1bd',GradientType=0 ); /* IE6-9 */
            }
        }
    }
}