.kaluza-platform.kaluza-screen.kaluza__section {
    background-color: $dusk;
    @media screen and (max-width: $breakpoint-notebook) {
        height: auto;
    }
    .parallax__container {
        @media screen and (max-width: $breakpoint-notebook) {
            position: absolute !important;
        }
    }
    .container {
        @media screen and (max-width: $breakpoint-notebook) {
            position: relative;
            padding: $bar-width-small $bar-width-smallest;
            @include bg-opacity($dawn, 0.8);
        }
        .kaluza__overlay {
            padding: $bar-width;
            @media screen and (max-width: $breakpoint-laptop) {
                padding: $bar-width $bar-width-small;
            }
            @media screen and (max-width: $breakpoint-notebook) {
                position: relative;
                padding: 0;
            }
            &:before {
                @include bg-opacity($dawn, 0.8);
            }
            .kaluza-screen__title {
                margin-bottom: 4vh;
                @media screen and (max-width: $breakpoint-notebook) {
                    font-size: 22px;
                }
            }
            .kaluza-screen__subtitle {
                font-size: 2vh;
                color: $light-grey;
                text-transform: none;
                letter-spacing: normal;
                @media screen and (max-width: $breakpoint-notebook) {
                    font-size: 19px;
                }
            }
            .kaluza-screen__copy {
                width: 100%;
                flex-wrap: nowrap;
                p {
                    width: 100%;
                    margin-bottom: 1em;
                    margin-right: 0;
                    font-size: 1.6vh;
                    @media screen and (max-width: $breakpoint-notebook) {
                        font-size: 16px;
                    }
                    strong {
                        display: block;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 0.4vh;
                    }
                }
            }
        }
    }
}

.kaluza-partners.kaluza-showcase.kaluza__section {
    .container {
        padding: $bar-width;
        @media screen and (max-width: $breakpoint-notebook) {
            padding: $bar-width $bar-width-small;
        }
        @media screen and (max-width: $breakpoint-tablet) {
            padding: $bar-width-small $bar-width-smallest;
        }
        .kaluza-showcase__text {
            padding-top: $bar-width;
            width: 50%;
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
                padding-right: 0;
                padding-top: 0;
            }
            .kaluza-showcase__title {
                font-size: 2.8vh;
            }
            .kaluza-showcase__subtitle {
                font-size: 3.2vh;
                margin-top: 5vh;
                letter-spacing: 6px;
                color: $steel-grey;
            }
        }
        .kaluza-showcase__items {
            width: 50%;
            height: 100%;
            padding-bottom: 0;
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
                padding-top: $bar-width;
                flex-direction: row;
                align-items: center;
            }
            .kaluza-showcase__item {
                justify-content: center;
                align-items: center;
                padding: 1vh 25px;
                flex: none;
                width: 50%;
                margin-bottom: 0;
                @media screen and (max-width: $breakpoint-notebook) {
                    width: 50%;
                    margin-bottom: 25px;
                }              
                @media screen and (max-width: $breakpoint-tablet) {
                    width: 100%;
                } 
                img {
                    height: auto;
                    width: auto;
                    max-width: 100%;
                    max-height: 100%;
                    @media screen and (max-width: $breakpoint-phone) {
                        max-width: 67%;
                    }
                }
            }
        }
    }
}

.kaluza-points.kaluza-sheet.kaluza__section {
    background-color: $steel-grey;
    .kaluza-sheet__text {
        background-color: $light-grey;
        color: $night;
        @media screen and (max-width: $breakpoint-notebook) {
            position: static;
        }
        .kaluza-sheet__title {
            margin-bottom: 6vh;
            letter-spacing: 0.6vh;
            @media screen and (max-width: $breakpoint-phone) {
                font-size: 20px;
            }
        }
        .kaluza-sheet__copy {
            color: $night;
            p {
                font-size: 2vh;
                strong {
                    font-size: 2.3vh;
                    letter-spacing: 0.2vh;
                    text-transform: uppercase;
                    margin-bottom: -1em;
                }
            }
        }
        .kaluza__bar {
            width: 50%;
        }
    }
    .container {
        @media screen and (max-width: $breakpoint-notebook) {
            position: relative;
        } 
    }
    .kaluza-sheet__points {
        width: 33%;
        display: flex;
        flex-direction: column;
        flex: 1;
        @media screen and (max-width: $breakpoint-notebook) {
            width: 100%;
        }
        .kaluza-sheet__point {
            background-color: $dusk;
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width: $breakpoint-notebook) {
                height: 20vh;
            }
            .kaluza-sheet__point-title {
                color: $aqua;
                text-transform: uppercase;
                font-size: 1.5vh;
                letter-spacing: 0.4vh;
                padding-right: $bar-width;
                @media screen and (max-width: $breakpoint-notebook) {
                    font-size: 2.5vw;
                    letter-spacing: 0.3vw;
                    padding-right: $bar-width-small;
                }
                @media screen and (max-width: $breakpoint-tablet) {
                    padding-right: $bar-width-smallest;
                }
            }
            img {
                margin: 0 60px;
                height: 50%;
                width: auto;
                max-width: 16%;
                @media screen and (max-width: $breakpoint-notebook) {
                    max-width: 10%;
                    margin: 0 $bar-width-small;
                }
                @media screen and (max-width: $breakpoint-phone) {
                    margin: 0 $bar-width-smallest;
                }
            }
        }
    }
}