.kaluza-showcase.kaluza__section {
    background-color: $night;
    color: $light-grey;
    @media screen and (max-width: $breakpoint-notebook) {
        height: auto;
    }
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: ( $bar-width * 2 ) $bar-width;
        @media screen and (max-width: $breakpoint-notebook) {
            position: relative;
            padding: $bar-width $bar-width-small;
            flex-direction: column;
        }    
        @media screen and (max-width: $breakpoint-tablet) {
            padding: $bar-width-small $bar-width-smallest;
        }
    }
    .kaluza-showcase__text {
        width: 50%;
        padding-right: $bar-width;
        @media screen and (max-width: 1500px) {
            width: 33%;
        }
        @media screen and (max-width: $breakpoint-notebook) {
            width: 100%;
        }
        .kaluza-showcase__title {
            font-size: 3.8vw;
        }
        .kaluza-showcase__copy {
            margin-bottom: 5vh;
            font-size: 2vh;
            width: 67%;
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
                max-width: 800px;
            }
        }
        .kaluza__bar {
            margin-top: 5vh;
            width: 100%;
        }
    }
    .kaluza-showcase__items {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: $bar-width;
        @media screen and (max-width: 1500px) {
            width: 67%;
        }
        @media screen and (max-width: $breakpoint-notebook) {
            width: 100%;
            padding-left: 0;
        }
        .kaluza-showcase__item {
            flex: 1;
            display: flex;
            flex-direction: row;
            font-size: 1.5vh;
            width: 100%;
            margin-bottom: 2vh;
            justify-content: center;
            align-items: stretch;
            &:last-of-type {
                margin-bottom: 0;
            }
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
                height: 20vh;
            }           
            @media screen and (max-width: $breakpoint-tablet) {
                height: 25vh;
            }
            @media screen and (max-width: $breakpoint-phone) {
                height: 33vh;
            }
            .kaluza-showcase__images {
                position: relative;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: $breakpoint-phone) {
                    flex: 2;
                }
                img {
                    max-width: 75%;
                }
                .kaluza-showcase__background-image {
                    height: 100%;
                    width: 100%;
                }
                .kaluza-showcase__foreground-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                &:nth-child(1) .kaluza-showcase__background-image {
                    // transform: translateY(13px);
                }
                &:nth-child(2) .kaluza-showcase__background-image {
                    // transform: scale(1);
                }
                &:nth-child(2) .kaluza-showcase__foreground-image {
                    // transform: scale(0.8);
                }
                &:nth-child(3) .kaluza-showcase__background-image {
                    // transform: scale(0.9) translate(10px, -10px);
    
                }
                &:nth-child(4) .kaluza-showcase__background-image {
                    // transform-origin: bottom left;
                    // transform: translate(23px, -12px) scale(0.9);            
                }
            }
            .kaluza-showcase__item-text {
                flex: 2;
                padding-left: $bar-width-smallest;
                padding-right: $bar-width-smallest;
                justify-content: center;
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                @media screen and (max-width: $breakpoint-notebook) {
                    padding-left: $bar-width-smallest;
                }
                .kaluza-showcase__item-title {
                    font-size: 1.4vw;
                    letter-spacing: 0.4vw;
                    max-width: 0; // This is to force each word to populate a new line
                    @media screen and (max-width: $breakpoint-notebook) {
                        font-size: 2vh;
                    }
                    @media screen and (max-width: $breakpoint-phone) {
                        font-size: 4vw;
                    }
                }
                .kaluza-showcase__item-copy {
                    margin-top: 1em;
                }
            }
            @media screen and (max-width: $breakpoint-notebook) {
                margin-bottom: $bar-width-small;
            }
            @media screen and (max-width: $breakpoint-tablet) {
                margin-bottom: $bar-width-smallest;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }    
}

.kaluza-sheet.kaluza__section {
    background-color: $light-grey;
    display: flex;
    flex-direction: row;
    .container {
        @media screen and (max-width: $breakpoint-notebook) {
            flex-direction: column;
        }
        .kaluza-card {
            display: flex;
            flex-direction: column;
            width: 33%;
            min-width: 500px;
            box-shadow: none;
            @media screen and (max-width: $breakpoint-notebook) {
                width: 100%;
                min-width: 0;
            }
            .kaluza-card__title {
                background-color: $steel-grey;
                color: $light-grey;  
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: $bar-width;
                @media screen and (max-width: $breakpoint-notebook) {
                    padding: $bar-width $bar-width-small;
                }
                @media screen and (max-width: $breakpoint-tablet) {
                    padding: $bar-width-small $bar-width-smallest;
                }
            }
            .kaluza-card__copy {
                background-color: $night;
                color: $steel-grey;
                padding: $bar-width;
                @media screen and (max-width: $breakpoint-notebook) {
                    padding: $bar-width $bar-width-small;
                }
                @media screen and (max-width: $breakpoint-tablet) {
                    padding: $bar-width-small $bar-width-smallest;
                }
            }
        }
    }
    .kaluza-card__video {
        width: 67%;
        @media screen and (max-width: $breakpoint-notebook) {
            width: 100%;
            height: 54vw;
        }
        iframe {
            height: 100%;
            width: 100%;
        }
    }
}
